
article.tweet {
  width: auto;
  height: auto;
  background-color: #e1e1ea;
  margin: 6em 2em 0em 2em;
  border: 5px solid black;
  border-radius: 10px
}


article.tweet header {
  height: 50px;
  background-color: #d1b3ff;
  border-bottom: 2px solid black;
  border-radius: 5px 5px 0 0;
}

/* MOUSEOVER PROPERTIES */
article.tweet:hover > header {
  background-color: #b380ff;
  font-weight: bold;
}
article.tweet:hover > footer .widgets {
  display: block;
  margin-top: -8px;
}

footer .widgets {
  float: right;
  display: inline-block;
  margin: 0 10px 10px 0;
  display: none;
}
footer .widgets .flag {
  display: inline-block;
  content: url("../images/icons/icon-flag.png");
}
footer .widgets .like {
  display: inline-block;
  content: url("../images/icons/icon-like.png")
}
footer .widgets .retweet {
  display: inline-block;
  content: url("../images/icons/icon-retweet.png")
}

article.tweet .avatar {
  width: 48px;
  height: 48px;
  float: left;
  border-radius: 5px 0 0 0;
}

header .username {
  font-size: 25px;
  line-height: 2.0;
}

header .handle {
  margin: 5px 5px 0 0;
  float: right;
}

article.tweet .content {
  margin: 1em 4em;
  color: black;
}

article.tweet footer {
  height: 2em;
  width: 100%;
  border-top: 1px solid black;
}

article.tweet .created_at {
  padding: 12px 0 0 12px;
  float: left;
  font-size: 14px;
}